/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
  color: #f0bb03;
}
p {
  color: #ffffff;
}
.btn {
  background-color: #ffffff;
  color: #1e293b;
  height: 2rem;
  width: 7.6rem;
  border: 0px solid;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Bree Serif';
}
button:hover {
  cursor: pointer;
  outline: none;
}
